// Specific CSS for your home-page
.container-text {
  border: 1px solid rgb(230,230,230);
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 5px;
  width: 1000px;
  margin: auto;
  background-color: white;
  padding: 15px;
}
