

<footer class="footer-distributed">
  <div class="footer-left">
    <h6><span>Navigaton</span></h6>
    <p class="footer-links">
        <ul id="ab">
        <li><a href="#"><i class="home">Home</i></a></li>
        <li><a href="#"><i class="show-all-gardens">Show all gardens</i></a></li>
        <li><a href="#"><i class="log-in"></i>Log in</a></li>
        <li><a href="#"><i class="log-out">About us</i></a></li>
        </ul>
    </p>
    <%# <div class="footer-copyright">
    © 2020 Copyright <strong>City Veggies</strong>
    </div> %>
  </div>

  <div class="footer-center" >
  <h6><span>Contact us</span></h6>
  <br>
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>Lisbon, Portugal</span>
      </p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+351 452698745</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:addgardens@gmail.com">info@cityveggies.com</a>
      </p>
    </div>
    </div>

    <div class="footer-right">
    <h6><span>About us</span></h6>
      <p class="footer-company-about">
        <br>
        We are the pioneers connecting the green spaces and the urban unhabitants.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>





    </div>


     <div id="line">
    <div class="footer-copyright">
    © 2020 Copyright <strong>City Veggies</strong>
    </div>
    </div>

    <%# <div id="line1">
      <div class="footer-icons">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
  </div> %>
</footer>
