<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Find a garden in your neighbourhood</h1>
    <h3>Rent a spot and grow vegetables!</h3>
    <div class="form-center">
      <%= render 'shared/searchform' %>
    </div>
  </div>
</div>

<div>
  <div class="container-text">
    <h1 class="display-4 text-center">About City Veggies</h1><br>
      <div class="container-jumbo">
        <div class="item">
          <p class="line-content"><i class="fas fa-arrows-alt"></i> We are <strong>the world’s largest marketplace for garden rentals. </strong></p>
        </div>
        <div class="item">
          <p class="line-content"><i class="fas fa-briefcase"></i> Weather You're looking for just a tiny space in your city or for a larger land to grow some fruits and veggies! You will always find <strong>the perfect spot</strong> for you!</p>
        </div>
        <div class="item">
        <p class="line-content"><i class="far fa-building"></i> Our network includes gardens in all European capitals! </p>
        </div>
        <div class="item">
        <p class="line-content"><i class="fas fa-globe"></i> We were founded in Portugal in 2020. City Veggies is based in Lisbon.</p>
        </div>
      </div>
  </div>

</div>


