.banner{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.banner h1  {
  text-align: center;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-family: Montserrat;
  color: white;
}

.banner h3  {
  text-align: center;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  color: white;
}
