.footer-distributed .footer-left {
    width: 40%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
* {
    font-family: 'Montserrat', sans-serif;
}


div {
    display: block;
}
.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
body {
    margin: 0;
    font-family: "Comfortaa", "cursive";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    text-align: left;
    background-color: #F4F4F4;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
* {
    font-family: 'Montserrat', sans-serif;
}

user agent stylesheet
div {
    display: block;
}
.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
body {
    margin: 0;
    font-family: "Comfortaa", "cursive";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    text-align: left;
    background-color: #F4F4F4;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
* {
    font-family: 'Montserrat', sans-serif;
}

user agent stylesheet
div {
    display: block;
}
.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
body {
    margin: 0;
    font-family: "Comfortaa", "cursive";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    text-align: left;
    background-color: #F4F4F4;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    color: #90EE90;
    text-decoration: none;
    background-color: transparent;
}
