.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  padding-left: 15px;
  font-size: 35px;
  color: orange
}

.avatar {
  margin-left: 7px;
}
